

.red{
	background-color: #87CEEA;
}

.gray{
	background-color: #87CEEA;
}

.skyblue{
	background-color: #87CEEA;
}

.first-01{

	border: 2px solid #fff;
	height: 80px;
	text-align: center;

}

.second-02{

	border: 2px solid #fff;
	height: 80px;
	text-align: center;
}
.third-03{

	border: 2px solid #fff;
	height: 80px;
	text-align: center;
}
.fourth-04{
	border: 2px solid #fff;
	height: 80px;
	text-align: center;
}

.first-02-01{

	border: 2px solid #fff;
	height: 130px;
	text-align: center;

}

.second-02-02{

	border: 2px solid #fff;
	height: 130px;
	text-align: center;
}
.third-02-03{

	border: 2px solid #fff;
	height: 130px;
	text-align: center;
}

.first-03-01{

	border: 2px solid #fff;
	height: 130px;
	text-align: center;

}

.second-03-02{

	border: 2px solid #fff;
	height: 130px;
	text-align: center;
}

.first-04-01{

	border: 2px solid #fff;
	height: 130px;
	text-align: center;

}

.second-04-02{

	border: 2px solid #fff;
	height: 130px;
	text-align: center;
}

.first-05-01{

	border: 2px solid #fff;
	height: 130px;
	text-align: center;

}